#company {
  .p-pagettl {
    width: 100%;
    height: 540px;
    background-image: url(../img/company/bg-page-ttl.jpg);
    background-position: 61%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 16px;
    padding-bottom: 65px;
    position: relative;
    margin-top: -4px;
    @include media-sp {
      height: 150px;
    }

    h2 {
      color: white;
      font-size: 65px;
      font-weight: 900;
      padding-left: 230px;
      padding-top: 208px;
      @include media-sp {
        font-size: 35px;
        padding-left: 16px;
        padding-top: 51px;
      }
    }
    figure {
      position: absolute;
      margin-left: 275px;
      margin-top: 120px;
      max-width: 420px;
      @include media-sp {
        font-size: 18px;
        margin-left: 16px;
        margin-top: 27px;
        max-width: 190px;
      }
    }
  }

  .p-intro-ceos {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/company/bg-ceo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @include media-sp {
      background-size: 163%;
      background-repeat: no-repeat;
      background-position: top left;
    }
    .__container {
      padding-top: 135px;
      padding-bottom: 250px;
      position: relative;
      padding-right: 16px;
      padding-left: 16px;
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: 100%;
      @include media-sp {
        background-image: url(../img/company/bg-ceo.png);

        padding-top: 80px;
        padding-bottom: 150px;
        background-size: 240%;
      }
      &::after {
        width: 100%;
        border-bottom: 7px dotted #ff811c;
        position: absolute;
        content: "";
        bottom: 100px;
      }
      .__ceos-ttl {
        text-align: center;
        font-weight: 700;
        color: #ff811c;
        font-size: 28px;
        padding-bottom: 111px;
        position: relative;
        @include media-sp {
          padding-bottom: 68px;
        }
        &::after,
        &::before {
          position: absolute;
          content: "";
          width: 37%;
          height: 7px;
          background-image: url(../img/company/img-ceos-before.png);
          background-repeat: repeat;
          background-position: center;
          background-size: 100%;
          top: 12%;
          @include media-sp {
            width: 29%;
            background-size: 280%;
          }
        }
        &::after {
          right: 0;
        }
        &::before {
          left: 0;
        }
      }
      .__ceos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 104px;
        position: relative;
        // &::after {
        //   content: "代表取締役社長　秋山易範";
        //   position: absolute;
        //   font-size: 18px;
        //   font-weight: 600;
        //   bottom: 0;
        //   bottom: -5%;
        //   right: 11%;
        // }

        .__ceo {
          .__ceo-img {
            max-width: 368px;
            width: 100%;
            border-radius: 72px;
            float: right;
            margin-left: 30px;
            margin-bottom: 40px;
            @include media-sp {
              width: 100%;
              max-width: unset;
            }
          }
          .__ceo-msg {
            .__msg-ttl {
              color: #ff811c;
              font-size: 700;
              font-size: 24px;
              @include media-sp {
                padding-top: 40px;
                text-align: center;
              }
            }
            .__msg-ctn {
              padding-top: 40px;
              font-size: 18px;
              font-weight: 500;
              @include media-sp {
                font-size: 16px;
              }
            }

            .ceo-name {
              font-size: 20px;
              font-weight: 400;
              text-align: right;
              padding-top: 20px;
            }
          }

          &:nth-child(2) {
            .__ceo-img {
              float: left;
              margin-right: 50px;
              margin-left: 0;

              @include media-sp {
                margin-bottom: 50px;
              }
            }
          }
        }
      }
    }
  }

  .p-vision {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 184px;
    padding-bottom: 104px;
    background-image: url(../img/company/bg-vision.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @include media-sp {
      padding-top: 104px;
      padding-bottom: 40px;
    }
    @include media-sp {
      background-size: cover;
    }
    .__container {
      background-color: white;
      box-shadow: 5px 5px #ff811c30;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 590px;
        height: 161px;
        background-image: url(../img/company/img-head-ttl@3x@3x.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        left: 22%;
        z-index: 21;
        transform: translateY(-50%);
        @include media-sp {
          width: 90%;
          height: 100px;
          left: 7%;
        }
      }
      .__vision-head {
        padding: 138px 53px 53px 28px;
        position: relative;
        z-index: 20;

        &::after {
          position: absolute;
          content: "";
          width: 670px;
          height: 480px;
          background-image: url(../img/company/img-before.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
          top: 0;
          right: 0;
          z-index: -1;
          @include media-sp {
            width: 100%;
            height: 320px;
            top: 180px;
          }
        }
        @include media-sp {
          padding: 360px 16px 16px 16px;
        }
        .__head-ttl {
          font-size: 24px;
          font-weight: normal;
          font-family: "Zen Kurenaido", sans-serif;
          padding-bottom: 68px;
          @include media-sp {
            margin-top: -295px;
            width: max-content;
            margin-right: auto;
            margin-left: auto;
            padding-bottom: 416px;
          }
        }
        .__head-ctn {
          font-size: 18px;
          line-height: 2;
          @include media-sp {
            line-height: 1.5;
          }
        }
      }
      .__vision-main {
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 139px;
        @include media-sp {
          padding-right: 16px;
          padding-left: 16px;
          padding-bottom: 80px;
        }
        .__main-ttl {
          font-size: 28px;
          color: white;
          background-color: #ff811c;
          padding-top: 15px;
          padding-bottom: 15px;
          text-align: center;
        }
        .__main-item {
          padding-top: 50px;
          @include media-sp {
            padding-top: 0px;
          }
          &:first-child {
            .__item-ctn {
              text-align: center;
            }
          }
          &:nth-child(2) {
            .__item-ctn {
              text-align: center;
            }
          }
          &:nth-child(3) {
            .__item-ctn {
              text-align: center;
            }
          }
          .en-ttl {
            color: #fff0e4;
            font-size: 80px;
            font-weight: 1000;
            text-align: center;
          }
          .jp-ttl {
            color: #ff811c;
            font-size: 28px;
            text-align: center;
            margin-top: -45px;
          }
          .__item-ctn {
            padding-top: 45px;
            font-size: 16px;
            font-weight: 500;
            @include media-sp {
              padding-top: 20px;
            }
          }
        }
      }
    }
  }

  .p-licenses {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 104px 16px 104px 16px;
    background-image: url(../img/company/bg-licences.jpg);
    background-position: center;
    background-size: 100% 100%;
    @include media-sp {
      padding: 90px 16px 40px 16px;
      background-repeat: repeat;
      background-size: 434%;
    }
    .__container {
      .__licenses-ttl {
        color: #ff811c;
        font-size: 28px;
        font-weight: 700;
        position: relative;
        text-align: center;
        position: relative;
        @include media-sp {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 30px;
          figure {
            max-width: 100px;
          }
        }
        &::after {
          content: "";
          position: absolute;
          width: 23%;
          border-bottom: 5px dotted #ff811c;
          top: 50%;
          right: 0;
          @include media-sp {
            width: 9%;
          }
        }
        &::before {
          content: "";
          position: absolute;
          width: 23%;
          border-bottom: 5px dotted #ff811c;
          top: 50%;
          left: 0;
          @include media-sp {
            width: 9%;
          }
        }
      }
      .__licenses-main {
        padding-top: 75px;
        padding-bottom: 75px;
        border-bottom: 5px dotted #ff811c;
        @include media-sp {
          padding-top: 40px;
          padding-bottom: 36px;
        }
        .__licenses-item {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 70px;
          padding-left: 70px;
          position: relative;
          .absolute {
            position: absolute;
            max-width: 171px;
            top: 0;
            right: 0;
            @include media-sp {
              top: -124px;
              max-width: 70px;
            }
          }
          &:first-child {
            margin-bottom: 50px;
          }
          @include media-sp {
            gap: 40px;
            flex-direction: column;
            padding-left: 16px;
          }
          .item-img {
            max-width: 287px;
            width: 100%;
            @include media-sp {
              max-width: unset;
            }
          }
          .__item-main {
            max-width: 540px;
            .__item-ttl {
              font-size: 24px;
              font-weight: 700;
              color: #ff811c;
            }
            .__item-ctn {
              font-size: 16px;
              font-weight: 500;
              padding-top: 40px;
            }
          }
        }
      }
    }
  }

  .p-company {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #fff2e8;
    .__container {
      padding-top: 125px;
      padding-bottom: 116px;
      @include media-sp {
        padding-top: 65px;
        padding-bottom: 66px;
      }
      .p-company-ttl {
        font-size: 55px;
        font-weight: 700;
        text-align: center;
        color: #ff811c;
        @include media-sp {
          font-size: 30px;
        }
      }
      .p-company-main {
        margin-top: 100px;
        background-color: white;
        border-radius: 31px;
        box-shadow: 10px 10px 2px #ff811c80;
        @include media-sp {
          margin-top: 60px;
          box-shadow: 0px 0px 15px rgb(235 159 41 / 50%);
        }
        .__company-list {
          display: flex;
          align-items: stretch;
          justify-content: flex-start;
          @include media-sp {
            align-items: center;
            flex-direction: column;
            text-emphasis: none;
          }
          &:last-child {
            .__company-ttl {
              border: unset;
              border-radius: 0 0 0 31px;
              @include media-sp {
                border-radius: 0;
              }
              &::after {
                border: unset;
              }
            }
            .__company-ctn {
              border: unset;
              &::after {
                border: unset;
              }
            }
          }
          &:first-child {
            .__company-ttl {
              border-radius: 31px 0 0 0;
              @include media-sp {
                border-radius: 31px 31px 0 0;
              }
            }
          }

          .__company-ttl {
            font-size: 24px;
            font-weight: 700;
            color: white;
            padding-top: 32px;
            padding-bottom: 32px;
            background-color: #ff811c;
            width: 225px;
            text-align: center;
            border-bottom-width: 90%;
            position: relative;
            @include media-sp {
              width: 100%;
              text-align: center;
              padding-left: 15px;
              padding-top: 15px;
              padding-bottom: 15px;
            }
            &::after {
              content: "";
              position: absolute;
              width: 90%;
              bottom: 0px;
              right: 0;
              border-bottom: 1px solid white;
              @include media-sp {
                border-bottom: unset;
              }
            }
          }
          .__company-ctn {
            font-size: 20px;
            font-weight: normal;
            color: #353636;
            width: 80%;
            padding-top: 32px;
            padding-bottom: 32px;
            padding-left: 10px;
            position: relative;
            @include media-sp {
              width: 100%;
              padding-top: 15px;
              padding-bottom: 15px;
              text-align: center;
            }
            &::after {
              content: "";
              position: absolute;
              width: 97%;
              bottom: 0px;
              left: 0;
              border-bottom: 1px solid #ff811c;
              @include media-sp {
                border-bottom: unset;
              }
            }
          }
        }
      }
      .p-company-btn {
        margin-top: 74px;
        width: 262px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 22px;
        color: white;
        background-color: #84c42c;
        border-radius: 50px;
        box-shadow: 0 5px #588a14;
        height: 58px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  .p-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #ff811c;
    margin-top: -20px;
    .__container {
      padding-top: 52px;
      padding-bottom: 43px;
      figure {
        width: 670px;
        @include media-sp {
          width: auto;
        }
      }
      .__btn-g {
        padding-top: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 28px;
        @include media-sp {
          flex-direction: column;
        }

        .mail-contact {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 40px;
          padding: 9px 30px 9px 9px;
          background-color: #1f66db;
          font-size: 30px;
          font-weight: 700;
          text-decoration: none;
          color: white;
          border-radius: 18px;
          box-shadow: 5px 5px 2px #545454;
          @include media-sp {
            font-size: 20px;
            gap: 20px;
            width: 100%;
          }
          img {
            max-width: 56px;
          }
        }

        .line-contact {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 40px;
          padding: 9px 30px 9px 9px;
          background-color: #46b416;
          font-size: 30px;
          font-weight: 700;
          text-decoration: none;
          color: white;
          border-radius: 18px;
          box-shadow: 5px 5px 2px #545454;
          position: relative;
          @include media-sp {
            font-size: 20px;
            gap: 20px;
            width: 100%;
          }
          &::before {
            position: absolute;
            content: "";
            width: 256px;
            height: 267px;
            background-image: url(../img/top/img-contact-girl.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            top: -366%;
            right: 20%;
            right: 21%;
            @include media-sp {
              width: 33vw;
              height: 30vw;
              top: -75vw;
              right: 5vw;
            }
            @include responsive(426px) {
              width: 166px;
              height: 178px;
              top: -540%;
              right: 0;
            }
          }
          img {
            max-width: 56px;
          }
        }
      }
    }
  }

  .p-area {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 133px;
    padding-bottom: 157px;
    background-image: url(../img/member/bg-area.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    @include media-sp {
      background-size: cover;
      padding-top: 80px;
      padding-bottom: 80px;
    }
    .__container {
      background-color: white;
      border-radius: 46px;
      padding: 0 0 100px 0;
      width: 100%;
      @include media-sp {
        padding: 0 0 0 0;
      }
      .__area-head {
        width: 100%;
        height: 515px;
        border-radius: 46px 46px 0 0;
        background-image: url(../img/member/bg-area-ttl.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-left: 78px;
        padding-top: 169px;
        position: relative;
        @include media-sp {
          background-size: cover;
          padding-left: 8px;
          padding-top: 39px;
          padding-right: 8px;
          background-image: url(../img/img-area@2x.png);
        }
        &::after {
          content: "";
          position: absolute;
          width: 485px;
          height: 50px;
          background-image: url(../img/member/img-head-after.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          bottom: -15%;
          left: 50%;
          transform: translateX(-50%);
          @include media-sp {
            width: 195px;
            height: 40px;
          }
        }
        .__head-ttl {
          font-size: 28px;
          color: #ff811c;
          font-weight: 700;
          @include media-sp {
            font-size: 30px;
            text-align: center;
          }
        }
        p {
          padding-top: 36px;
          font-size: 16px;
          font-weight: normal;
          color: #545454;
          text-shadow: 0 0 2px white;
          max-width: 355px;
          @include media-sp {
            text-shadow: 0 0 5px white;
          }
        }
      }
      .__area-map {
        padding-top: 170px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 114px;
        padding-right: 84px;
        @include media-sp {
          padding-top: 140px;
          flex-direction: column;
          padding-left: 16px;
          padding-right: 16px;
          gap: 40px;
        }
        .__map-img {
          max-width: 296px;
        }
        .__map-ctn {
          max-width: 487px;
          width: 100%;
          font-size: 28px;
          font-weight: 700;
          color: #ff811c;
          background-image: url(../img/member/bg-area-map.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
          padding: 45px 43px 45px 140px;
          position: relative;
          @include media-sp {
            padding: 17px 17px 17px 65px;
            font-size: 24px;
            line-height: 40px;
            max-width: 327px;
          }
          &::after {
            content: "";
            position: absolute;
            width: 31px;
            height: 32px;
            background-image: url(../img/member//img-area-map-after.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            right: -6%;
            top: -20%;
            @include media-sp {
              right: -3%;
            }
          }
        }
      }

      .__area-body {
        padding: 70px 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        @include media-sp {
          grid-template-columns: 1fr;
          padding: 70px 16px;
        }
        .__area-item {
          background-color: #ff811c;
          border-radius: 46px;
          padding: 27px 12px 12px;
          height: max-content;
          .__area-name {
            font-size: 20px;
            color: white;
            text-align: center;
            padding-bottom: 17px;
          }

          p {
            background-color: white;
            border-radius: 0 0 46px 46px;
            padding: 25px 12px;
            height: "100%-20px";
          }
        }
      }
    }
  }
}
