@font-face {
  font-family: "KozGoPr6NRegular";
  src: url(../fonts/KozGoPr6NRegular.woff);
}

$font-ko: "KozGoPr6NRegular";

@font-face {
  font-family: "din";
  src: url(../fonts/DINAlternate-Bold.woff);
}

$font-din: "din";
